body {
  background-color: rgba(0,200,200,.05);
}


#game div {
  align-items: center;  
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin: 10px;
  display: inline-block;
  background-color:rgba(0,200,200,.25)
}

.container {
  background-color: rgba(0,200,200,.1);
  height: auto;
  text-align: center;
  padding: 25px;
}

button {
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
  background-color:rgba(0,200,200,.25);
  justify-content: center;
  display: grid;
  text-align: center;
  margin: auto;
}

button:hover {
  background-color:rgba(0,200,200,60);
}

.start {
  font-size: 3rem;
  width: 50%;
  margin-top: 50px;
}

.scoreTable {
  font-size: 1.25rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* background-color:rgba(0,200,200,.25) */
}

.reset{
  font-size: 2rem;
  margin-bottom: 25px;
}

p {
  margin-top: 0px;
}

/* Tiles Images */
#yellow {
  background-image: url('images/pexels-lilartsy-3216571.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-height: auto;
  background-position: center;
  /* max-width: 20%; */

}
#red {
  background-image: url('images/pexels-daria-shevtsova-3597310.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-height: auto;
  background-position: center;
  /* max-width: 20%; */

}
#blue {
  background-image: url('images/pexels-vlada-karpovich-4668379.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-height: auto;
  background-position: center;
  /* max-width: 20%; */

}
#green {
  background-image: url('images/pexels-bich-tran-760721.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: auto;
  /* max-width: 20%; */

}
#orange {
  background-image: url('images/pexels-prateek-katyal-2740954.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-height: auto;
  background-position: center;
  /* max-width: 20%; */

}#purple {
  background-image: url('images/pexels-tara-winstead-8849324.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  max-height: auto;
  background-position: center;
  /* max-width: 20%; */
}